/* Esercizio 1 */
.ex-1-square {
  transition: background 1s;
}

.ex-1-square:hover {
  background: rgb(255, 0, 0);
}
/* Esercizio 1 */

/* Esercizio 2 */
.ex-2-square {
  transition: width 1s;
}

.ex-2-square:active {
  width: 1000px;
}
/* Esercizio 2 */

/* Esercizio 3 */
.ex-3-square {
  transition: border 1s;
}

.ex-3-square:hover {
  border-radius: 100%;
}
/* Esercizio 3 */

/* Esercizio 4 */
.ex-4-square {
  transition: background 1s;
}

.ex-4-square:hover {
  background: none;
}
/* Esercizio 4 */

/* Esercizio 5 */
.ex-5-square {
  transition: width 1s height 1s;
}

.ex-5-square:hover {
  width: 120px;
  height: 120px;
}

.ex-5-square:active {
  width: 30px;
  height: 30px;
}
/* Esercizio 5 */

/* Esercizio 6 */
/* Esercizio 6 */
